



img {
    max-width: 150%;
}
.samplepicture{
    width:700px;
    
}
/* .main-container{ */
.para{
 font-size: smaller;

}
.sample{
    background-color: #FFC901;
    width: 1000px;
   
}
.border{
}
